In [1]:
import csv
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [2]:
data= pd.read_csv("Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
### Drop irrelevant columns
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [4]:
## Preprocess the data



label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])

onehot_encoder_geo=OneHotEncoder()
geo_encoder=onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()

In [5]:
geo_encoded_df=pd.DataFrame(geo_encoder,columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
data=pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [6]:
#

with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

In [7]:
## DiVide the dataset into indepent and dependent features
X=data.drop('Exited',axis=1)
y=data['Exited']

## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [8]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [9]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

WARNING:tensorflow:From e:\projects\Churn classification\venv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [10]:
## Build Our ANN Model
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)), ## HL1 Connected wwith input layer
    Dense(32,activation='relu'), ## HL2
    Dense(1,activation='sigmoid')  ## output layer
]

)
model.summary()

WARNING:tensorflow:From e:\projects\Churn classification\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [11]:
import tensorflow
opt=tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss=tensorflow.keras.losses.BinaryCrossentropy()
loss

In [12]:
## compile the model
model.compile(optimizer=opt,loss="binary_crossentropy",metrics=['accuracy'])

In [13]:
## Set up the Tensorboard
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

log_dir="logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [14]:
## Set up Early Stopping
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [15]:
### Train the model
history=model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
WARNING:tensorflow:From e:\projects\Churn classification\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From e:\projects\Churn classification\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 4s 8ms/step - loss: 0.4041 - accuracy: 0.8292 - val_loss: 0.3651 - val_accuracy: 0.8590
Epoch 2/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3546 - accuracy: 0.8541 - val_loss: 0.3430 - val_accuracy: 0.8575
Epoch 3/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3480 - accuracy: 0.8555 - val_loss: 0.3486 - val_accuracy: 0.8590
Epoch 4/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3414 - accuracy: 0.8577 - val_loss: 0.3392 - val_accuracy: 0.8580
Epoch 5/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3406 - accuracy: 0.8624 - val_loss: 0.3427 - val_accuracy: 0.8580
Epoch 6/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3382 - accuracy: 0.8624 - val_loss: 0.3431 - val_accuracy: 0.8600
Epoch 7/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3350 - accuracy: 0.8627 - val_loss: 0.3440 - val_accuracy: 0.8570
Epoch 8/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3371 - accuracy: 0.8608 - val_loss: 0.3408 - val_accuracy: 0.8575
Epoch 9/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3328 - accuracy: 0.8658 - val_loss: 0.3417 - val_accuracy: 0.8590
Epoch 10/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3309 - accuracy: 0.8625 - val_loss: 0.3514 - val_accuracy: 0.8500
Epoch 11/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3291 - accuracy: 0.8669 - val_loss: 0.3488 - val_accuracy: 0.8550
Epoch 12/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3247 - accuracy: 0.8670 - val_loss: 0.3451 - val_accuracy: 0.8525
Epoch 13/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3262 - accuracy: 0.8660 - val_loss: 0.3529 - val_accuracy: 0.8610
Epoch 14/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3244 - accuracy: 0.8662 - val_loss: 0.3607 - val_accuracy: 0.8600

In [16]:
model.save('model.h5')

e:\projects\Churn classification\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [17]:
## Load Tensorboard Extension
%load_ext tensorboard

In [18]:
%tensorboard --logdir logs/fit